// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
header{
    @include flex__center;
    position: fixed;
    top: 0;
    z-index: 5;
    width: 100%;
    max-width: 100vw;
    max-height: 70px;
    height: 70px;
    background: $white;
    padding: $gap $gutterwidth;
    box-shadow: $box-shadow;

    > div{
        @include flex__between-center;
        width: 100%;
    }

    .logo{
        max-width: $gutterwidth*2;
    }

    nav{
        font-family: $secondfont;

        ul{
            @include flex__between-center;
            margin: 0;
            padding: 0;

            li{
                text-transform: uppercase;
                margin-left: $gutterwidth;

                &:first-child{
                    margin-left: 0;
                }

                a{
                    &:hover{
                        color: $secondcolor;
                    }
                }
            }
        }
    }

	//1280
	@include respond-to('s-big') {
        
        > div{
            max-width: calc(#{$pagemaxwidth} - #{$gutterwidth*2});
        }
	}

}